.sign-up-form-container {
  background-image: url('./food.png');
  background-size: cover;
  background-position: center;
  width: 100vw; /* Full width of the viewport */
  height: 120vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}


form {
  /* border: solid 1px; */
  width: 420px;

  display: grid;
  position: relative;
  /* left: 1%; */
  right: 1%;
  
  /* padding: 30px; */
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
select,
/* button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da; 
  border-radius: 5px;
  box-sizing: border-box;
} */

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='tel']:focus,
select:focus {
  outline: none;
  border-color: #007bff; /* Blue border color on focus */
}

/* button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #000000; 
} */


button{ background-color: red;
  box-shadow: hsl(0, 5%, 37%) 4px 4px 0px;
  border-radius: 8px;
  padding: 13px 20px;
  color: beige;
  border:none;
  transition: transform 200ms, box-shadow 200ms;
  width:  50%;
  margin: 3%;
}

button:active{

  transform: translateY(4px) translateX(4px);
  box-shadow: #fcfeff 0 0 0 ;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='date'] {
  width: 100%;
  /* padding: 10px; */
  border: 1px solid #ced4da; /* Light border color */
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

input[type='date']:focus {
  outline: none;
  border-color: #007bff; /* Blue border color on focus */
}
